<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }} <a style="float: right;" href="javascript:scroll(0,0)">顶部</a>  <a style="float: right; padding-right: 30px;" href="javascript:history.back(-1)">返回</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
			<li><wb:follow-button uid="6377221062" type="red_2" width="136" height="24" ></wb:follow-button> <a class="github-button" href="{{ site.github_star }}" data-show-count="true" aria-label="Star lcfu1/lcfu1 on GitHub">Star</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
